#lobby {
    position: relative;
    width: 100%;
    height: 100%;
}

#lobby-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

#lobby-content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

#lobby-selecter-border {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 300px; */
    margin-bottom: 122px;

    position: relative;
    width: 386px;
    height: 386px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid var(--gscale-10-100);
}

#lobby-selector-circle-outer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: 26px solid var(--gscale-10-50);
}

#lobby-selector-circle-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: 3px solid var(--gscale-10-100);

    position: relative;
}

#lobby-selector-circle-inner > *:nth-of-type(1) { transform: rotate(0deg) translate(calc(198px - 10px)) rotate(-0deg); }
#lobby-selector-circle-inner > *:nth-of-type(2) { transform: rotate(90deg) translate(calc(198px - 10px)) rotate(-90deg); }
#lobby-selector-circle-inner > *:nth-of-type(3) { transform: rotate(180deg) translate(calc(198px - 10px)) rotate(-180deg); }
#lobby-selector-circle-inner > *:nth-of-type(4) { transform: rotate(270deg) translate(calc(198px - 10px)) rotate(-270deg); }

.lobby-selector-item {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76px;
    height: 76px;
    margin: -38px;

    border-radius: 50%;
    border: 2px solid var(--gscale-10-100);

    transition: all 0.5s ease-in-out;
}

.lobby-selector-item div * {

}

.lobby-selector-item * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--gscale-90-100);
}

#lobby-selector-current-item-wrapper {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 170px;
    margin: -85px;

    transform: translate(calc(198px - 10px));
    border: 2px solid var(--gscale-10-100);
}

#lobby-selector-current-item-border-fill {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    box-sizing: border-box;
    border: 12px solid var(--gscale-90-50);
}

.lobby-inner-ring {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 75%;
    height: 75%;

    border-radius: 50%;
    border: 2px solid var(--gscale-10-100);
}

.lobby-inner-border-ring {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: 2px solid var(--gscale-10-100);
}

#lobby-selector-current-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    box-sizing: border-box;
}