#lobby {
    position: relative;
    width: 100%;
    height: 100%;
}

#lobby-background {
    width: 100%;
    height: 100%;
    position: absolute;
}

#lobby-background > img {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

#lobby-content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

#lobby-selecter-border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 260px;
    margin-left: 30px;

    position: relative;
    width: 386px;
    height: 386px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid var(--gscale-10-100);
}

#lobby-selector-circle-outer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border: 26px solid var(--gscale-10-50);
}

#lobby-selector-circle-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: 3px solid var(--gscale-10-100);
    display: table;
    position: relative;
}

#lobby-selector-circle-inner > *:nth-of-type(2) { transform: rotate(0deg) translate(190px) rotate(-0deg); }
#lobby-selector-circle-inner > *:nth-of-type(3) { transform: rotate(90deg) translate(190px) rotate(-135deg); }
#lobby-selector-circle-inner > *:nth-of-type(4) { transform: rotate(180deg) translate(190px) rotate(-225deg); }
#lobby-selector-circle-inner > *:nth-of-type(5) { transform: rotate(270deg) translate(190px) rotate(-315deg); }

#lobby-selector-circle-inner > *:nth-of-type(6) { transform: rotate(0deg) translate(190px) rotate(-0deg); }
#lobby-selector-circle-inner > *:nth-of-type(7) { transform: rotate(90deg) translate(190px) rotate(-90deg); }
#lobby-selector-circle-inner > *:nth-of-type(8) { transform: rotate(180deg) translate(190px) rotate(-180deg); }
#lobby-selector-circle-inner > *:nth-of-type(9) { transform: rotate(270deg) translate(190px) rotate(-270deg); }

.inner-radial-blue {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(circle, transparent 0%, transparent 60%, var(--affirmative-50) 100%);
}

.lobby-selector-bracket-outer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    margin: -55px;

    border-radius: 50%;
    border: 6px solid var(--gscale-90-100);
    box-sizing: border-box;
}

#lobby-selector-bracket-top {
    border-top: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
}

#lobby-selector-bracket-left {
    border-left: 6px solid transparent !important;
    border-top: 6px solid transparent !important;
}

#lobby-selector-bracket-bottom {
    border-bottom: 6px solid transparent !important;
    border-left: 6px solid transparent !important;
}

.lobby-selector-bracket-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.lobby-selector-item {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76px;
    height: 76px;
    margin: -41px;

    border-radius: 50%;
    border: 3px solid var(--gscale-80-100);

    transition: all 0.5s ease-in-out;
}

.lobby-selector-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;

    background-color: var(--gscale-10-100);
}

.lobby-selector-item > div > p {
    position: absolute;
    left: 40%;
    top: 65%;

    text-shadow: 0 0 8px var(--hl-bold-blue);
    color: var(--gscale-90-100);
    font-size: 1.5em;

    width: 200px;
    font-family: 'Trajan Pro Regular', 'Noto Serif JP';

    text-shadow:
    -1px -1px 0 var(--affirmative),  
    1px -1px 0 var(--affirmative),
    -1px 1px 0 var(--affirmative),
    1px 1px 0 var(--affirmative);

    transition: all 0.5s ease-in-out;
}

#lobby-selector-item-rankings > div {
    background-image: url("../../images/icons/podium.svg");
}

#lobby-selector-item-home > div {
    background-image: url("../../images/icons/home.svg");
}


#lobby-selector-item-play > div {
    background-image: url("../../images/icons/play.svg");
}


#lobby-selector-item-profile > div {
    background-image: url("../../images/icons/profile.svg");
}

#lobby-selector-current-item-wrapper {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 170px;
    height: 170px;
    margin: -87px;

    transform: translate(190px);
    border: 2px solid var(--gscale-10-100);
}

#lobby-selector-current-item-border-fill {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: -2;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    box-sizing: border-box;
    border: 12px solid var(--gscale-90-50);

    position: relative;
}

#lobby-selector-current-inner-bg {
    background: radial-gradient(circle, transparent 0%, transparent 50%, var(--affirmative-50) 100%);
    width: 100%;
    height: 100%;
    border-radius: 50%;

    z-index: -2;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

#lobby-selector-current-inner-fill {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    
    position: relative;

    background-color: var(--gscale-90-100);
    border: 4px solid var(--gscale-10-100);
}

#lobby-selector-label-wrapper {
    background-color: var(--gscale-90-100);
    position: absolute;
    left: -10%;
    z-index: -1;

    top: 50%;
    margin-top: -30px;
    
    box-sizing: border-box;
    height: 60px;
    width: 335px;

    border: 4px solid var(--gscale-10-100);
} 

#lobby-selector-current-buttons-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;

    height: 216px;
    width: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#lobby-selector-current-buttons-wrapper > button {
    width: 100%;
    min-width: 0;
    height: 44px;
    padding: 0;
    border: 2px solid var(--gscale-80-100);
    background-image: url(../../images/icons/up.svg);

    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#lobby-selector-current-buttons-wrapper > button:hover {
    box-shadow: 0 0 8px var(--affirmative);
}

#lobby-nav-up-button {
    transform: rotate(180deg);
}

#lobby-nav-down-button {

}

#lobby-selector-label-padding > button {
    padding: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;

    overflow: hidden;
}

#lobby-selector-label-padding > button > div {
    position: absolute;
    font-size: 1.5em;
    color: var(--gscale-20-100);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    word-break: keep-all;

    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out, color 0.1s ease-in-out, text-shadow 0.1s ease-in-out, transform 0.5s ease-in-out;

    font-family: 'Trajan Pro Regular', 'Noto Serif JP';
}

#lobby-selector-label-padding > button:not(:disabled):hover > div {
    color: var(--affirmative);
}

#lobby-selector-label-padding > button:not(:disabled):active > div {
    color: var(--affirmative);
    text-shadow: 0 0 8px var(--affirmative);
}

.lobby-selector-active {
    border-color: var(--affirmative);
}

.lobby-main-button-text-state-above {
    transform: translate(-50%, -200%) !important;

    opacity: 0 !important;
    visibility: hidden !important;
}

.lobby-main-button-text-state-active {
    opacity: 1 !important;
    visibility: visible !important;

    transform: translate(-50%, -50%) !important;
}

.lobby-main-button-text-state-below {
    transform: translate(-50%, 100%) !important;

    opacity: 0 !important;
    visibility: hidden !important;
}

#lobby-selector-label-padding {
    height: 100%;
    margin-left: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby-inner-border-ring {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    z-index: -2;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    border: 2px solid var(--gscale-10-100);
}

#lobby-selector-current-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    box-sizing: border-box;
}

.lobby-queue-notification-hidden {
    left: -350px !important;
}

#lobby-queue-notification {
    position: absolute;

    width: 300px;
    height: 100px;
    left: 25px;
    bottom: 25px;

    background-color: var(--gscale-90-100);
    box-shadow: var(--gscale-10-100);

    transition: all 0.3s ease-in-out;

    border-left: 10px solid var(--gscale-10-100);
    animation: notification-border-pulse 4s infinite linear;
}

.lobby-notification {
    position: absolute;
    width: 100%;
    height: 100%;
}

#lobby-queue-notification-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#lobby-queue-notification-small {
    padding: 8px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: auto 1fr;
}

#lobby-queue-notification-small-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0 32px 0 24px;
}

#lobby-queue-notification-small-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#lobby-queue-notification-small-inner * {
    margin: 5px 0;
}

#lobby-queue-notification-small-inner h3 {
    font-weight: 700;
}

#lobby-queue-notification-small-inner p {
    color: var(--gscale-40-100);
}


#lobby-queue-notification-big {

}

@keyframes notification-border-pulse {
    0% {
        border-color: hsl(0, 68%, 45%);
    }

    25% {
        border-color: hsl(172, 57%, 45%);
    }

    50% {
        border-color: hsl(214, 72%, 45%);
    }

    75% {
        border-color: hsl(311, 72%, 45%);
    }

    100% {
        border-color: hsl(0, 68%, 45%);
    }
}