#msg {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 200;
}

#msg-modal {
    position: relative;
    display: grid;
    grid-template-rows: 50px auto 70px;

    width: 420px;
    height: 280px;
}

#msg-modal-header {
    background-color: var(--gscale-10-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

#msg-modal-header h1 {
    color: var(--gscale-90-100);
    font-weight: 700;
}

#msg-modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-sizing: border-box;
    padding: 20px 30px;
    line-height: 1em;
}

#msg-modal-inner h3 {
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
}

#msg-modal-inner p {
    color: var(--gscale-20-100);
    font-size: 0.7em;
    text-align: center;
}

#msg-modal-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#msg-modal-buttons button {
    height: 45px;
    min-width: 110px;
    padding: 0 15px;
    margin: 0;
    font-size: 0.7em;
    color: var(--gscale-90-100);
}

#msg-modal-button-negative {
    background-color: var(--gscale-30-100);
}

#msg-modal-button-positive {
    background-color: var(--affirmative);
}

#msg-modal-button-positive:hover {
    background-color: var(--affirmative-darker);
}

#msg-modal-button-positive:active {
    background-color: var(--affirmative-dark);
}

#msg-modal-button-negative:hover {
    background-color: var(--gscale-20-100);
}

#msg-modal-button-negative:active {
    background-color: var(--gscale-10-100);
}