@import "reset.css";
@import "colors.css"; 

/* GLOBAL */

::selection {
    color: var(--gscale-90-100);
    background: var(--gscale-10-100);
}

html {
    background: var(--gscale-10-100);
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans JP';
    color: var(--gscale-10-100);
    font-size: 20px;
    user-select: none;
}

body {
    width: 100%;
    height: 100%;
}

main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;    
}

.page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    transition: all 0.5s ease-in-out;
}

.bg-video {
    position: fixed;
    z-index: -1000;
}

.img-full-width {
    width: 100%;
    height: auto;
}

.img-half-width {
    width: 50%;
    height: auto;
}

.img-quarter-width {
    width: 25%;
    height: auto;
}

.warning-outline {
    outline-color: var(--negative) !important;
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}

.spinner {
    height: 60px;
    width: 60px;
    border-radius: 2000px;
    border-top: 6px solid var(--gscale-20-100);
    border-left: 6px solid var(--gscale-20-100);
    border-bottom: 6px solid var(--gscale-20-100);
    border-right: 6px solid var(--transparent);
    box-sizing: border-box;

    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.backdrop {
    /* backdrop-filter: blur(3px); */
    background-color: var(--backdrop);
    transition: all 0.5s ease-in-out;
}

.modal {
    box-sizing: border-box;
    
    box-shadow: 0 0 16px var(--drop-shadow);
    background: var(--gscale-90-100);
}

.bottom-margin-10 {
    margin-bottom: 10px !important;
}

.exit-button {
    position: absolute;
    z-index: 1;
    font-family: 'Segoe MDL2 Assets';
    font-size: 25px;
    font-weight: 800;

    color: var(--negative);

    cursor: pointer;
}

.text-positive {
    color: var(--positive) !important;
}

.text-negative {
    color: var(--negative) !important;
}

.border-bottom-positive {
    border-bottom: 2px solid var(--positive) !important;
}

.border-bottom-negative {
    border-bottom: 2px solid var(--negative) !important;
}

.speech-bubble {
	position: absolute;
    background: var(--negative);
    color: var(--gscale-90-100);
    padding: 12px 15px;
    margin: 0 auto;
    font-size: 0.7em;
    font-weight: 400;
    line-height: 18px;
    filter: drop-shadow(0 0 4px var(--drop-shadow));

    top: 50%;
    transform: translate(290px, -50%);
}
.speech-bubble:after,
.speech-bubble:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
    pointer-events: none;
}

.speech-bubble:after {
	border-right-color: var(--negative);
	border-width: 10px;
    margin-top: -10px;
}

a {
    -webkit-user-drag: none;
}

/* TEXT FIELD */

.text-input-wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 10px 0;
    position: relative;

    transition: all 0.2s ease-in-out;
}

input[type=text].input-standard, input[type=password].input-standard {
    border: none;
    margin: 2px;
    background: var(--gscale-80-100);
    padding: 24px 10px 6px 10px;
    box-sizing: border-box;
    width: calc(100% - 4px);
    letter-spacing: 0.1em;
    font-weight: 400;

    outline: 2px solid var(--gscale-80-100);

    transition: outline-color 0.2s ease-in-out;

    font-family: 'Noto Sans JP';
    line-height: calc(1em + 5px);
}

input[type=password].input-standard {
    letter-spacing: 0.2em;
    padding-right: 40px;
}

input[type=text].input-standard:focus, input[type=password].input-standard:focus {
    outline-offset: 0;
    outline-color: var(--gscale-20-100);
}

.text-input-label-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

input[type=text].input-standard:not(:placeholder-shown) + .text-input-label-wrapper, 
input[type=password].input-standard:not(:placeholder-shown) + .text-input-label-wrapper,
input[type=text].input-standard:focus + .text-input-label-wrapper, 
input[type=password].input-standard:focus + .text-input-label-wrapper {    
    align-items: flex-start;
}

.text-input-label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;

    font-weight: 500;
    color: var(--gscale-50-100);
    pointer-events: none;
    padding: 0 10px;
    font-size: 0.7em;

    transition: all 0.2s ease-in-out;
}

input[type=text].input-standard:not(:placeholder-shown) + .text-input-label-wrapper > .text-input-label, 
input[type=password].input-standard:not(:placeholder-shown) + .text-input-label-wrapper > .text-input-label,
input[type=text].input-standard:focus + .text-input-label-wrapper > .text-input-label, 
input[type=password].input-standard:focus + .text-input-label-wrapper > .text-input-label {
    transform: translateY(0);
    top: 0;

    padding-top: 8px;
    font-size: 0.6em;
    font-weight: 700;
    color: var(--gscale-20-100);
}

/* CHECKBOX */

.checkbox-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

input[type=checkbox].checkbox-standard {
    margin: 0 6px 0 0;
    -webkit-appearance: none;
    background: var(--gscale-80-100);
    width: 12px;
    height: 12px;
    outline: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

input[type=checkbox].checkbox-standard:checked {
    background-size: contain;
    background: var(--affirmative) url(../images/tick-sign.svg) no-repeat;
}

input[type=checkbox].checkbox-standard + .checkbox-text {
    font-size: 0.6em;
    font-weight: 500;   
    color: var(--gscale-50-100);
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

input[type=checkbox]:checked.checkbox-standard + .checkbox-text {
    color: var(--gscale-10-100);
}

input[type=checkbox].checkbox-standard + .checkbox-text:hover,
input[type=checkbox].checkbox-standard:focus + .checkbox-text:hover {
    color: var(--affirmative);
}

input[type=checkbox].checkbox-standard:focus + .checkbox-text {
    color: var(--gscale-30-100);
}

input[type=checkbox].visibility-toggle {
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    
    position: absolute;
    -webkit-appearance: none;
    background: url(../images/visible.svg) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    top: 50%;
    right: 10px;
    margin: 0;
    padding: 0;
    outline: none;
}

input[type]:not(:placeholder-shown) + * + input[type=checkbox].visibility-toggle {
    opacity: 1;
    visibility: visible;
}

input[type].visibility-toggle:checked {
    background-image: url(../images/hidden.svg);
}

/* TITLE BAR */

#titlebar {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    position: fixed;
    z-index: 100;
    height: 28px;
    width: 100%;
    -webkit-user-select: none;
}

#titlebar > #drag-region {
    width: 100%;
    -webkit-app-region: drag;
}

#window-controls {
    display: flex;
    font-family: 'Segoe MDL2 Assets';
    font-size: 10px;
    width: calc(46px * 3);
}
  
#window-controls .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--gscale-90-100);
    text-shadow: 1px 1px 0px black;
}

#window-controls .button:hover {
    background: var(--lighten-20);
} 

#window-controls .button#close-button:hover {
    background: var(--negative);
} 

/* BUTTON */
button {
    -webkit-appearance: none;
    outline: none;
    border: none;
    padding: 14px 20px;
    min-width: 100px;
    background-color: var(--affirmative);
    font-family: 'Noto Sans JP';

    color: var(--gscale-90-100);
    font-weight: 500;
    font-size: 0.8em;

    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: var(--affirmative-darker);
}

button:active {
    background-color: var(--affirmative-dark);
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    background-color: var(--gscale-70-100);
}

/* LINKS */

a {
    outline: none;
    text-decoration: none;
    color: var(--gscale-50-100);
    font-weight: 600;

    transition: all 0.1s ease-in-out;
}

a:hover, a:focus:hover {
    color: var(--affirmative);
}

a:focus {
    color: var(--gscale-30-100);
}

/* LOADING */
#loading {
    opacity: 1;
    visibility: visible;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif;
}

#loading-bg {
    width: 100%;
    height: 100%;
    background: var(--gscale-10-100);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading h1 {
    color: var(--gscale-90-100);
    height: 25px;
    display: flex;
    align-items: flex-end;
}

#loading-bar {
    position: relative;
    left: -100%;
    margin: 10px 0 35px 0;
    height: 2px;
    width: 100%;
    transform-origin: center left;
    background-color: var(--gscale-50-100);

    transition: all 0.4s linear;
}

/* LOGIN */
#login {
    opacity: 1;
    visibility: visible;
}

#login-pane {
    box-sizing: border-box;
    width: 350px;
    height: 100%;
    background: var(--gscale-90-100);
    padding: 40px;

    display: flex;
    flex-direction: column;
}

#login-pane h1 {
    margin: 80px 0 25px 0;
    font-weight: 600;
    font-size: 1.5em;
}

#login-button {
    margin: 40px auto 0 auto;
    display: block;
}

#login-warning-text {
    font-size: 0.7em;
    color: var(--negative);
    margin-top: 40px;
    text-align: center;
}

#login-links {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: auto;
}

#login-links a {
    font-size: 0.6em;
    padding-top: 4px;
}

#login-dynamic-wrapper {
    position: relative;
}

#login-loader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

/* OPTIONS */
#options {
    opacity: 0;
    visibility: hidden;
}

/* CREATE ACCOUNT */

#create-account {
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-account-modal {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    
    width: 1180px;
    height: 620px;
    padding: 40px;
}

#create-account h1 {
    font-size: 2.8em;
    font-weight: 500;
    font-family: 'Trajan Pro Regular', 'Noto Serif JP';
    letter-spacing: 0.3em;
}

#create-account h2 {
    margin: 15px 0 0 0;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Trajan Pro Regular', 'Noto Serif JP';
}

#create-account-username {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--gscale-50-100);
    background-color: var(--transparent);

    font-family: 'Trajan Pro Regular', 'Noto Serif JP';
    letter-spacing: -0.08em;
    font-size: 2em;
    text-align: center;
}

#create-account-dynamic-wrapper {
    width: 100%;
}

#create-account-interactables-wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create-account-username-password-wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#create-account-username-password-wrapper > div {
    width: 35%;
}



#create-account .text-input-wrapper {
    margin: 0 !important;
}

#create-account .warning-text {
    font-size: 0.6em;
    font-weight: 500;
    margin: 5px 0;

    height: 12px;
    color: var(--negative);
}

#create-account ul {
    color: var(--gscale-60-100);
}


#create-account li.ca-li-inactive {
    color: var(--gscale-60-100);
    text-decoration: line-through;
}

#create-account li.ca-li-inactive:before {
    content: '◆ '; 
}

#create-account li.ca-li-fail {
    color: var(--negative);
}

#create-account li.ca-li-fail:before {
    content: '✘ '; 
}

#create-account li.ca-li-pass {
    color: var(--positive);
}

#create-account li.ca-li-pass:before {
    content: '✔ '; 
}

#create-account li::before {
    font-weight: 500;
    font-family: 'Segoe MDL2 Assets';
}

#create-account li {
    font-size: 0.6em;
    font-weight: normal;
}

.create-account-warning {
    color: var(--negative);
    font-size: 0.7em;
    padding: 10px 0 30px 0;

    height: 14px;
}

#create-account-dynamic-wrapper {
    position: relative;
}

#create-account-loader-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

#create-account-success-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    background-color: var(--gscale-90-100);
}

#create-account-success-wrapper h1 {
    margin-top: 80px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--gscale-10-100);
    width: 100%;
    color: var(--affirmative);

    font-family: 'Trajan Pro Regular', 'Noto Serif JP';
    letter-spacing: -0.08em;
    font-size: 2em;
    text-align: center;
}

#create-account-interactables-wrapper button {
    margin: 40px 0 0 0;
}

#create-account-close {
    position: absolute;
    left: 40px;
    bottom: 40px;
    font-size: 0.6em;
}   