@font-face {
    font-family: 'Sawarabi Mincho Regular';
    src: url('../fonts/sawarabi-mincho-regular.ttf');
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-Black.otf');
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-Light.otf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-Medium.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('../fonts/NotoSansJP-Thin.otf');
    font-weight: thin;
    font-style: normal;
}