:root {
    --lighten-20: hsla(0, 0%, 90%, 0.2);

    --darken-10: hsla(0, 0%, 10%, 0.1);
    --darken-20: hsla(0, 0%, 10%, 0.2);
    --darken-30: hsla(0, 0%, 10%, 0.3);
    --darken-40: hsla(0, 0%, 10%, 0.4);
    --darken-50: hsla(0, 0%, 10%, 0.5);
    --darken-60: hsla(0, 0%, 10%, 0.6);
    --darken-70: hsla(0, 0%, 10%, 0.7);
    --darken-80: hsla(0, 0%, 10%, 0.8);
    --darken-90: hsla(0, 0%, 10%, 0.9);

    --gscale-100-100: hsla(0, 0%, 100%, 1); 
    --gscale-90-100: hsla(0, 0%, 90%, 1); --gscale-90-80: hsla(0, 0%, 90%, 0.8); --gscale-90-50: hsla(0, 0%, 90%, 0.5);
    --gscale-80-100: hsla(0, 0%, 80%, 1);
    --gscale-70-100: hsla(0, 0%, 70%, 1);
    --gscale-60-100: hsla(0, 0%, 60%, 1);
    --gscale-50-100: hsla(0, 0%, 50%, 1);
    --gscale-40-100: hsla(0, 0%, 40%, 1);
    --gscale-30-100: hsla(0, 0%, 30%, 1);
    --gscale-25-100: hsla(0, 0%, 25%, 1);
    --gscale-20-100: hsla(0, 0%, 20%, 1);
    --gscale-15-100: hsla(0, 0%, 15%, 1);
    --gscale-10-100: hsla(0, 0%, 10%, 1); --gscale-10-80: hsla(0, 0%, 10%, 0.8); --gscale-10-50: hsla(0, 0%, 10%, 0.5);
    --gscale-08-100: hsla(0, 0%, 8%, 1);
    --gscale-06-100: hsla(0, 0%, 6%, 1);
    --gscale-05-100: hsla(0, 0%, 5%, 1);
    --gscale-00-100: black;

    --affirmative-alt: hsla(215, 85%, 45%, 1);
    --affirmative-alt-darker: hsla(215, 85%, 40%, 1);
    --affirmative-alt-dark: hsla(215, 85%, 35%, 1);

    --drop-shadow: hsla(0, 0%, 10%, 0.4);

    --backdrop: hsla(0, 0%, 10%, 0.4);

    --affirmative: hsl(2, 68%, 45%); --affirmative-50: hsla(2, 68%, 45%, 0.5); --affirmative-90: hsla(2, 68%, 45%, 0.9);
    --affirmative-darker: hsl(2, 68%, 40%);
    --affirmative-dark: hsl(2, 68%, 35%);

    --hl-subtle-red: #884e4e; 
    --hl-subtle-blue: #4e5d88; 
    --hl-subtle-green: #348038; 
    --hl-subtle-yellow: #807b34; 

    --hl-bold-blue: hsl(224, 100%, 51%);

    --negative: hsla(0, 62%, 43%, 1);

    --positive: hsl(135, 62%, 43%);
    --positive-darker: hsl(135, 62%, 38%);
    --positive-dark: hsl(135, 62%, 33%);

    --link: hsl(222, 62%, 43%);
    --link-hovered: hsl(222, 62%, 63%);
    --link-clicked: hsl(222, 62%, 23%);

    --transparent: #00000000;

    /* DEBUG */
    --debug-red: red;
    --debug-blue: blue;
    --debug-green: hsl(120, 100%, 50%);
}