:root {
    --lighten-20: hsla(0, 0%, 90%, 0.2);

    --darken-10: hsla(0, 0%, 10%, 0.1);
    --darken-20: hsla(0, 0%, 10%, 0.2);
    --darken-30: hsla(0, 0%, 10%, 0.3);
    --darken-40: hsla(0, 0%, 10%, 0.4);
    --darken-50: hsla(0, 0%, 10%, 0.5);
    --darken-60: hsla(0, 0%, 10%, 0.6);
    --darken-70: hsla(0, 0%, 10%, 0.7);
    --darken-80: hsla(0, 0%, 10%, 0.8);
    --darken-90: hsla(0, 0%, 10%, 0.9);

    --gscale-100-100: hsla(0, 0%, 100%, 1); 
    --gscale-90-100: hsla(0, 0%, 90%, 1); --gscale-90-80: hsla(0, 0%, 90%, 0.8); --gscale-90-50: hsla(0, 0%, 90%, 0.5);
    --gscale-80-100: hsla(0, 0%, 80%, 1);
    --gscale-70-100: hsla(0, 0%, 70%, 1);
    --gscale-60-100: hsla(0, 0%, 60%, 1);
    --gscale-50-100: hsla(0, 0%, 50%, 1);
    --gscale-40-100: hsla(0, 0%, 40%, 1);
    --gscale-30-100: hsla(0, 0%, 30%, 1);
    --gscale-25-100: hsla(0, 0%, 25%, 1);
    --gscale-20-100: hsla(0, 0%, 20%, 1);
    --gscale-15-100: hsla(0, 0%, 15%, 1);
    --gscale-10-100: hsla(0, 0%, 10%, 1); --gscale-10-80: hsla(0, 0%, 10%, 0.8); --gscale-10-50: hsla(0, 0%, 10%, 0.5);
    --gscale-08-100: hsla(0, 0%, 8%, 1);
    --gscale-06-100: hsla(0, 0%, 6%, 1);
    --gscale-05-100: hsla(0, 0%, 5%, 1);
    --gscale-00-100: black;


    --drop-shadow: hsla(0, 0%, 10%, 0.4);

    --backdrop: hsla(0, 0%, 10%, 0.4);

    --affirmative: hsla(0, 75%, 38%, 1); --affirmative-50: hsla(0, 75%, 38%, 0.5);
    --affirmative-darker: hsla(0, 80%, 33%, 1);
    --affirmative-dark: hsla(0, 85%, 28%, 1);

    --negative: hsla(0, 62%, 43%, 1);

    --positive: hsl(135, 62%, 43%);
    --positive-darker: hsl(135, 62%, 38%);
    --positive-dark: hsl(135, 62%, 33%);

    --link: hsl(222, 62%, 43%);
    --link-hovered: hsl(222, 62%, 63%);
    --link-clicked: hsl(222, 62%, 23%);

    --transparent: #00000000;

    /* DEBUG */
    --debug-red: red;
    --debug-blue: blue;
    --debug-green: hsl(120, 100%, 50%);
}